# Assignment

## Q1. What is a database? Differentiate between SQL and NoSQL databases.
A database is an organized collection of data that can be accessed, managed, and updated easily. It is designed to store, retrieve, and manage information efficiently.

SQL (Structured Query Language) databases:

Schema-based: SQL databases use a predefined schema to organize data in tables, ensuring data integrity.
Relational: Data is stored in a tabular format (rows and columns) and relationships between tables are established using keys (primary and foreign).
Examples: MySQL, PostgreSQL, Oracle, SQL Server.
NoSQL (Not Only SQL) databases:

Schema-less: NoSQL databases allow flexible, schema-less data storage.
Non-relational: Data can be stored in different formats such as key-value pairs, documents, graphs, or columns.
Scalability: NoSQL databases handle large volumes of unstructured data and are designed to scale horizontally.
Examples: MongoDB, Cassandra, Redis, CouchDB.
## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
DDL (Data Definition Language) is used to define, modify, and manage database schemas and structures.

CREATE: Used to create tables, databases, indexes, etc.

Example: CREATE TABLE Students (ID INT PRIMARY KEY, Name VARCHAR(50));
DROP: Used to delete objects like tables or databases.

Example: DROP TABLE Students; (Deletes the Students table)
ALTER: Used to modify the structure of an existing table.

Example: ALTER TABLE Students ADD COLUMN Age INT; (Adds the Age column to the Students table)
TRUNCATE: Used to delete all records from a table without removing the table structure.

Example: TRUNCATE TABLE Students; (Deletes all rows from Students)
## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
DML (Data Manipulation Language) is used to insert, update, delete, or retrieve data within the database.

INSERT: Used to insert data into a table.

Example: INSERT INTO Students (ID, Name) VALUES (1, 'John');
UPDATE: Used to update existing records in a table.

Example: UPDATE Students SET Name = 'Jane' WHERE ID = 1;
DELETE: Used to delete records from a table.

Example: DELETE FROM Students WHERE ID = 1;
## Q4. What is DQL? Explain SELECT with an example.
DQL (Data Query Language) is primarily focused on querying data from a database using the SELECT statement.

SELECT: Used to retrieve data from one or more tables.
Example: SELECT Name, Age FROM Students WHERE Age > 18; (Retrieves the names and ages of students older than 18)
## Q5. Explain Primary Key and Foreign Key.
Primary Key: A column (or set of columns) that uniquely identifies each row in a table. It ensures that no duplicate or NULL values exist in that column.

Example: In the Students table, ID can be the Primary Key.
Foreign Key: A column (or set of columns) in one table that establishes a relationship with the Primary Key of another table. It ensures referential integrity between the two tables.

Example: In an Enrollments table, StudentID can be a Foreign Key that references the ID column in the Students table.
## Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

import mysql.connector

##### Connect to MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

###### Create a cursor object
cursor = conn.cursor()

###### Execute an SQL query
cursor.execute("SELECT * FROM Students")

###### Fetch and print all the results
results = cursor.fetchall()
for row in results:
    print(row)

###### Close the connection
conn.close()
cursor(): Creates a cursor object, which is used to interact with the database by executing SQL queries and fetching results.
execute(): Executes the SQL query provided as a parameter. For example, cursor.execute("SELECT * FROM Students") retrieves all records from the Students table.
## Q7. Give the order of execution of SQL clauses in an SQL query.
The order of execution in SQL is:

FROM: Specifies the table to query.
JOIN: Combines rows from two or more tables.
WHERE: Filters rows based on specified conditions.
GROUP BY: Groups rows sharing a property to aggregate them.
HAVING: Filters groups based on aggregate conditions.
SELECT: Selects the columns or expressions to return.
ORDER BY: Sorts the result set.
LIMIT/OFFSET: Limits the number of rows returned.